@media only screen {
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            // masthead-helmet-green.png
            background:url('http://www.anr.msu.edu/contentAsset/raw-data/2a1404d3-f31c-4295-9fa9-c3ddca47dd02/fileAsset?byInode=true') no-repeat center center;
            width: 298px;
            height: 34px;
            display: inline-block;
        }
        .masthead form input[type=submit] {
            // icon-search.png
            background: url("http://www.anr.msu.edu/contentAsset/raw-data/0e7e7767-56db-459b-ba1a-097a8e2ab74c/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        }
    }
    // svg color styles
    #msu-masthead-icon path{
        fill:#fff;
    }
    #menu-icon rect{
        fill:#fff;
    }
    #menu-icon g rect,
    #menu-icon path{
        fill:$green;
    }
    header{
        overflow:hidden;
        @include linear-gradient(url('/includes/cea-bg.svg') $lt-green, $dk-green);
        background-position:0 12%;
        background-size:cover;
    }
    body.ie header{
        @include linear-gradient(url('/includes/cea-bg.png') $lt-green, $dk-green);
    }
    header.home{
        @media only screen and (min-width:40.063em){
            min-height: 13.875em;
        }
        @media only screen and (min-width:64.063em){
            min-height:15.625em;
        }
        .title-row h1 {
            margin-bottom:0;
            .chart{
                top:1.75em;
                left:65%;
                height:7.09375em;
                @media only screen and (min-width:64.063em){
                    left:55%;
                }
            }
        }
    }
    .masthead-row {
        position:fixed;
        background:$lt-green url('/includes/cea-bg.svg');
        background-position:0 6%;
        background-size:cover;
        padding-bottom:.5em;
        z-index:100;
    }
    div.masthead {
        height:2.125em;
        margin-top:1em;
        a{
            display: block;
            position: relative;
            height: 2.125em;
            max-width: 18.75em;
            @media only screen and (min-width:64.063em){
                display:inline-block;
                width:50%;
            } 
            .masthead{
                width: 100%;
                height: 100%;
                margin: 0;
            }

        }
    }
    .title-row {
	   padding-top:2.5em;
        h1{
            position:relative;
            a{
                color: #fff;
                text-decoration: none;
                position:relative;
                z-index:10;
                &:hover,
                &:focus{
                    text-decoration: underline;
                }
            }
            .chart{
                display:none;
                position:absolute;
                top:.5em;
                left:54%;
                height:7.09375em;
                width:9.75em;
                @media only screen and (min-width:40.063em){
                    display:block;
                }
                @media only screen and (min-width:57.063em){
                    top:0;
                    left:45%;
                }
            }
        }
        p{
            color:#fff;
            font-size:.625em;
            @media only screen and (min-width:64.063em){
                font-size:.875em;
            }
            a{
                color:#fff;
            }
        }
    }
    #networkElement,
    #cse-search-box{
        display:none;
    }
}
@media only screen and (min-width: 64.063em) {
    #cse-search-box,
    #networkElement,
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
        background:none;
        padding:0;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        width:16em;
        padding-left:.25em;
        margin-top: .125em;
    }
    .masthead form input[type=submit] {
        // icon-search.svg
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/1ed718dc-d1a8-4133-b025-842c39797a3e/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
}