@media print {
    #mobile-nav,
    .top-links,
    #nav-button,
    #search-medium,
    #nav-wrap,
    .banner-home,
    .featured-home,
    #social,
    #standard-footer-site-links {
        display:none;
    }
    a { 
        color:#000;
    }
    ul.products {
        list-style:none;
    }
    ul.products li {
        overflow:auto;
    }
    ul.products img {
        float:left;
        margin:0 .5em .5em 0;
    }
    footer {
        text-align:center;
    }
    footer ul {
        list-style:none;
        overflow:auto;
        margin-bottom:1em;
    }
    footer li {
        float:left;
        margin-left:1em;
    }
    footer li:first-child {
        margin-left:0;
    }
}