/*
// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
*/
/* sitewide formatting */
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

img {
  border: none; }

/* positioning */
.centered {
  text-align: center; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  position: absolute;
  left: -100em;
  top: auto;
  width: 0.0625em;
  height: 0.0625em;
  overflow: hidden; }

/* text styles */
b, strong, .bold {
  font-weight: bold; }

i, em, .italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strikethrough {
  text-decoration: line-through; }

.error {
  color: #f00;
  font-weight: bold; }

/* external link */
a.external_link {
  background: url(http://expeng.anr.msu.edu/images/sitewide/external-link-icon.png) 100% 50% no-repeat !important;
  display: inline !important;
  padding-right: 15px !important; }

/* text after document links */
a[href$=".pdf"]:after, a[href$=".PDF"]:after {
  content: " (pdf)"; }

a[href$=".psd"]:after, a[href$=".PSD"]:after {
  content: " (psd)"; }

a[href$=".ai"]:after, a[href$=".AI"]:after {
  content: " (ai)"; }

a[href$=".indd"]:after, a[href$=".INDD"]:after {
  content: " (indd)"; }

a[href$=".swf"]:after, a[href$=".SWF"]:after {
  content: " (swf)"; }

a[href$=".doc"]:after, a[href$=".DOC"]:after {
  content: " (doc)"; }

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
  content: " (docx)"; }

a[href$=".xls"]:after, a[href$=".XLS"]:after {
  content: " (xls)"; }

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
  content: " (xlsx)"; }

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
  content: " (xlsm)"; }

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
  content: " (ppt)"; }

a[href$=".pps"]:after, a[href$=".PPS"]:after {
  content: " (pps)"; }

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
  content: " (pptx)"; }

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
  content: " (ppsx)"; }

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
  content: " (accdb)"; }

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
  content: " (mdb)"; }

/* document link styles */
a[href$=".pdf"], a[href$=".PDF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/pdf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".psd"], a[href$=".PSD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/psd.png) scroll no-repeat 0 0 transparent;
  color: #004084 !important;
  padding-left: 18px; }

a[href$=".ai"], a[href$=".AI"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ai.png) scroll no-repeat 0 0 transparent;
  color: #da5b00 !important;
  padding-left: 18px; }

a[href$=".indd"], a[href$=".INDD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/indd.png) scroll no-repeat 0 0 transparent;
  color: #7d164d !important;
  padding-left: 18px; }

a[href$=".swf"], a[href$=".SWF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/swf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/doc.png) scroll no-repeat 0 0 transparent;
  color: #0b3ca7 !important;
  padding-left: 18px; }

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/xls.png) scroll no-repeat 0 0 transparent;
  color: #185c3b !important;
  padding-left: 18px; }

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"],
a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ppt.png) scroll no-repeat 0 0 transparent;
  color: #AD5101 !important;
  padding-left: 18px; }

a[href$=".accdb"], a[href$=".mdb"],
a[href$=".ACCDB"], a[href$=".MDB"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/accdb.png) scroll no-repeat 0 0 transparent;
  color: #a40042 !important;
  padding-left: 18px; }

/* float container */
div.floatbox {
  height: 1%;
  position: relative;
  overflow: auto; }

/* specific elements */
p#content_link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }

div#cse {
  overflow: hidden; }

div#page .cse .gsc-control-cse,
div#page .gsc-control-cse,
div#page .cse .gsc-webResult.gsc-result,
div#page .gsc-webResult.gsc-result,
div#page .gsc-imageResult-column,
div#page .gsc-imageResult-classic,
div#page .gsc-webResult .gsc-result {
  background: none;
  border: none; }

div#content a.gcsc-branding-clickable,
div#content a.gcsc-branding-clickable:hover,
div#content a.gs-title,
article#content a.gcsc-branding-clickable,
article#content a.gcsc-branding-clickable:hover,
article#content a.gs-title {
  border: none; }

acronym, abbr {
  cursor: help; }

label[for="gse_query"] {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

/* normalize */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* foundation */
meta.foundation-version {
  font-family: "/5.2.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 77.875em; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .small-offset-0 {
    margin-left: 0% !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; } }
@media only screen and (min-width: 40.063em) {
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .medium-offset-0 {
    margin-left: 0% !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .large-offset-0 {
    margin-left: 0% !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
/*------------------------------------------------------------------------- CSS RESET --*/
/*-- by Kim Maida | http://kim-maida.com --*/
/*-- Additional thanks to Eric Meyer, Richard Clark, Paul Irish, Divya Manian --*/
/*-- modified by Brad Everett for responsive sites --*/
#networkElement div, #networkElement span, #networkElement h1, #networkElement h2, #networkElement h3, #networkElement h4, #networkElement h5, #networkElement p, #networkElement a, #networkElement address, #networkElement em, #networkElement img, #networkElement ol, #networkElement ul, #networkElement li, #networkElement form, #networkElement input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline; }

#networkElement div {
  box-sizing: content-box !important; }

#networkElement ol, #networkElement ul, #networkElement ul li {
  list-style: none; }

#networkElement input[type=button],
#networkElement input[type=submit],
#networkElement button {
  cursor: pointer; }

#networkElement h1,
#networkElement h2,
#networkElement h3,
#networkElement h4,
#networkElement h5 {
  font: normal 14px Arial, Helvetica, sans-serif;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  background: none;
  float: none; }

#networkElement q:lang(en) {
  quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }

/*--------------------------------------------------------------- TOP BAR --*/
div#anrElementWrapper {
  background: #575757;
  border-bottom: 1px solid #181818;
  height: 29px;
  overflow: hidden;
  position: relative; }

div#anrElement {
  color: #fff;
  font: normal 14px Arial, Helvetica, sans-serif;
  height: 29px;
  margin: 0 auto;
  position: relative;
  max-width: 86.875em;
  padding: 0 .9375em; }

div#anrElement a {
  color: #fff; }

div#anrElement a#skip {
  color: #CCC;
  float: left;
  font-size: 9px;
  line-height: 1.4;
  margin: 3px 10px 0 0;
  text-transform: uppercase;
  width: 40px; }

div#anrElement a#skip:hover,
div#anrElement a#skip:active,
div#anrElement a#skip:focus,
div#anrElement a#last:hover,
div#anrElement a#last:active,
div#anrElement a#last:focus {
  color: #fff; }

div#anrElement ul {
  float: left; }

div#anrElement li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/li-arrow.png) no-repeat 100% 0;
  float: left;
  height: 29px;
  /* 29px */
  line-height: 1.3;
  padding: 6px 13px 4px;
  text-shadow: -1px -1px 0 #616161; }

div#anrElement li span {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -52px;
  float: left;
  height: 20px;
  width: 20px; }

div#anrElement li a {
  font-weight: normal;
  background: url(http://expeng.anr.msu.edu/anr_bar/images/drop-arrows.png) no-repeat 100% -3px;
  color: #e9e9e9;
  padding-right: 15px; }

div#anrElement li a:hover,
div#anrElement li a.active,
div#anrElement li a.focus {
  font-size: inherit;
  background-position: 100% -31px;
  color: #fff; }

div#anrElement li.NElast-child,
div#anrElement li.NElast-child a#NElast {
  background: none; }

#networkElement div#NEsearch {
  float: right;
  font-size: 12px;
  padding: 4px 0; }

#networkElement div#NEsearch label {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

#networkElement input[type=text] {
  background: #e3e3e3 url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -24px;
  height: 22px;
  line-height: 22px;
  /* fixes padding issues with IE */
  padding: 0 5px 0 23px;
  vertical-align: middle;
  width: 108px;
  /* 136px */ }

#networkElement input[type=submit] {
  background: none;
  color: #fff; }

/*------------------------------------------------------------------------- DROPDOWNS --*/
div#ddWrapper {
  margin: 0 auto;
  position: relative;
  max-width: 88.875em;
  z-index: 110; }

div#ddWrapper > div {
  background: #575757 url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font: normal 14px/1.2 Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 0 8px 12px 8px;
  position: absolute;
  width: 482px;
  /* 500px */ }

div#ddWrapper a {
  font-weight: normal;
  color: #fff; }

div#ddWrapper a:hover,
div#ddWrapper a:active,
div#ddWrapper a:focus {
  font-size: inherit;
  text-decoration: underline; }

div#networkElement a.NElink-ext {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/ext-link.png) no-repeat 100% 5px;
  padding-right: 11px; }

#networkElement div.ddTitle {
  background: #bbbbbb url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius: 0 0 5px 5px;
  color: #444;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 12px 10px 10px; }

#networkElement div.ddTitle h2 {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat;
  border-right: 1px solid #898888;
  cursor: pointer;
  float: left;
  height: 22px;
  padding-right: 10px;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 98px; }

#networkElement div.ddTitle h3,
#networkElement div.ddTitle h3 a {
  color: #444;
  float: left;
  font-size: 16px;
  line-height: 22px;
  padding-left: 10px;
  text-shadow: 1px 1px 0 #dbdbdb; }

#networkElement div.ddTitle h3 a {
  padding-left: 0; }

#networkElement div.ddContent {
  margin: 4px 10px; }

div#dd-anr {
  left: 7em; }

div#dd-canr,
div#dd-msue,
div#dd-agbio,
div#dd-lmo {
  left: 14.5em; }

div#dd-aai,
div#dd-ans,
div#dd-ent,
div#dd-fshn,
div#dd-hrt,
div#dd-sop,
div#dd-spdc,
div#dd-iia,
div#dd-afre,
div#dd-carrs {
  left: 277px; }

div#dd-tollgate {
  left: 269px; }

div#dd-ipm {
  left: 342px; }

div#dd-lpi,
div#dd-pc {
  left: 355px; }

div#dd-csmott {
  left: 365px; }

div#dd-greeen {
  left: 333px; }

div#dd-currentSite {
  left: 278px; }

div#ddWrapper h4 {
  border-bottom: 1px solid #9b9b9b;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 6px 0;
  zoom: 1; }

div#ddWrapper div.NEsublist {
  padding-top: 10px;
  clear: both; }

div#ddWrapper div.NEcol {
  border-left: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  float: left;
  overflow: hidden;
  padding: 0 7px 10px;
  width: 140px;
  height: 237px; }

div#ddWrapper div.NEcol:first-child {
  border-left: none;
  padding-left: 0; }

div#ddWrapper div.NEcol.NElast-child {
  padding-right: 0; }

div#ddWrapper div.NEcol h4 {
  border-bottom: none;
  display: block;
  font-weight: normal;
  width: inherit;
  height: 40px;
  text-align: center; }

div#ddWrapper div.NEcol p,
div#ddWrapper div.NEcol a.NEoutgoing {
  color: #e9e9e9;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 4px 0; }

div#ddWrapper div.NEcol a.NEoutgoing {
  color: #fff;
  display: block;
  padding-bottom: 0;
  text-align: right; }

div#ddWrapper li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat -130px -52px;
  padding-left: 12px;
  margin: 2px 0; }

div#ddWrapper div.MSUEMain {
  float: left;
  width: 230px; }

div#ddWrapper div.MSUEPrograms {
  float: right;
  position: relative;
  width: 200px; }

@media only screen {
  html.no-svg div.masthead a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/2a1404d3-f31c-4295-9fa9-c3ddca47dd02/fileAsset?byInode=true") no-repeat center center;
    width: 298px;
    height: 34px;
    display: inline-block; }
  html.no-svg .masthead form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/0e7e7767-56db-459b-ba1a-097a8e2ab74c/fileAsset?byInode=true") no-repeat scroll center center white; }

  #msu-masthead-icon path {
    fill: #fff; }

  #menu-icon rect {
    fill: #fff; }

  #menu-icon g rect,
  #menu-icon path {
    fill: #00723f; }

  header {
    overflow: hidden;
    background: url("/includes/cea-bg.svg") #008540;
    /* Old browsers */
    background: -moz-linear-gradient(top, url("/includes/cea-bg.svg") #008540 0%, #005e38 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, url("/includes/cea-bg.svg") #008540), color-stop(100%, #005e38));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, url("/includes/cea-bg.svg") #008540 0%, #005e38 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, url("/includes/cea-bg.svg") #008540 0%, #005e38 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, url("/includes/cea-bg.svg") #008540 0%, #005e38 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, url("/includes/cea-bg.svg") #008540 0%, #005e38 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    background-position: 0 12%;
    background-size: cover; }

  body.ie header {
    background: url("/includes/cea-bg.png") #008540;
    /* Old browsers */
    background: -moz-linear-gradient(top, url("/includes/cea-bg.png") #008540 0%, #005e38 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, url("/includes/cea-bg.png") #008540), color-stop(100%, #005e38));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, url("/includes/cea-bg.png") #008540 0%, #005e38 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, url("/includes/cea-bg.png") #008540 0%, #005e38 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, url("/includes/cea-bg.png") #008540 0%, #005e38 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, url("/includes/cea-bg.png") #008540 0%, #005e38 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ } }
@media only screen and (min-width: 40.063em) {
  header.home {
    min-height: 13.875em; } }
@media only screen and (min-width: 64.063em) {
  header.home {
    min-height: 15.625em; } }
@media only screen {
  header.home .title-row h1 {
    margin-bottom: 0; }
    header.home .title-row h1 .chart {
      top: 1.75em;
      left: 65%;
      height: 7.09375em; } }
    @media only screen and (min-width: 64.063em) {
      header.home .title-row h1 .chart {
        left: 55%; } }

@media only screen {
  .masthead-row {
    position: fixed;
    background: #008540 url("/includes/cea-bg.svg");
    background-position: 0 6%;
    background-size: cover;
    padding-bottom: .5em;
    z-index: 100; }

  div.masthead {
    height: 2.125em;
    margin-top: 1em; }
    div.masthead a {
      display: block;
      position: relative;
      height: 2.125em;
      max-width: 18.75em; } }
    @media only screen and (min-width: 64.063em) {
      div.masthead a {
        display: inline-block;
        width: 50%; } }
@media only screen {
      div.masthead a .masthead {
        width: 100%;
        height: 100%;
        margin: 0; }

  .title-row {
    padding-top: 2.5em; }
    .title-row h1 {
      position: relative; }
      .title-row h1 a {
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 10; }
        .title-row h1 a:hover, .title-row h1 a:focus {
          text-decoration: underline; }
      .title-row h1 .chart {
        display: none;
        position: absolute;
        top: .5em;
        left: 54%;
        height: 7.09375em;
        width: 9.75em; } }
      @media only screen and (min-width: 40.063em) {
        .title-row h1 .chart {
          display: block; } }
      @media only screen and (min-width: 57.063em) {
        .title-row h1 .chart {
          top: 0;
          left: 45%; } }
@media only screen {
    .title-row p {
      color: #fff;
      font-size: .625em; } }
    @media only screen and (min-width: 64.063em) {
      .title-row p {
        font-size: .875em; } }
@media only screen {
      .title-row p a {
        color: #fff; }

  #networkElement,
  #cse-search-box {
    display: none; } }
@media only screen and (min-width: 64.063em) {
  #cse-search-box,
  #networkElement,
  .masthead form {
    display: block; }

  .masthead-row {
    position: relative;
    background: none;
    padding: 0; }

  .title-row {
    padding-top: 0; }

  div#search-medium {
    display: inline; }

  .masthead form {
    float: right;
    background: none repeat scroll 0 0 #FFFFFF;
    border: .0625em solid #999999;
    -webkit-border-radius: 0.1875em;
    -moz-border-radius: 0.1875em;
    -ms-border-radius: 0.1875em;
    border-radius: 0.1875em;
    height: 1.75em;
    margin-bottom: .75em;
    width: 18.75em;
    overflow: hidden; }

  .masthead form input[type=text] {
    border: none;
    width: 16em;
    padding-left: .25em;
    margin-top: .125em; }

  .masthead form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/1ed718dc-d1a8-4133-b025-842c39797a3e/fileAsset?byInode=true") no-repeat scroll center center white;
    border: 0 none;
    -webkit-border-radius: 0 0.1875em 0.1875em 0;
    -moz-border-radius: 0 0.1875em 0.1875em 0;
    -ms-border-radius: 0 0.1875em 0.1875em 0;
    border-radius: 0 0.1875em 0.1875em 0;
    cursor: pointer;
    float: right;
    height: 1.75em;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2.125em; } }
@media only screen {
  div#nav-medium {
    display: none;
    margin-top: 1.33em; } }
  @media only screen and (min-width: 64.063em) {
    div#nav-medium {
      display: block; }
      div#nav-medium ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        div#nav-medium ul li.level_1 > a {
          display: block;
          color: #000;
          text-decoration: none;
          padding: .5em .25em .5em 1.25em;
          font-weight: 700; }
        div#nav-medium ul li.level_1.active > a, div#nav-medium ul li.level_1 > a:hover, div#nav-medium ul li.level_1 > a:focus, div#nav-medium ul li.level_1.active.parent > a:hover, div#nav-medium ul li.level_1.active.parent > a:focus {
          background-color: #005e38;
          color: #fff;
          text-decoration: underline;
          font-weight: 900; }
        div#nav-medium ul li.level_1.active.parent > a {
          text-decoration: none; }
        div#nav-medium ul li.level_2 > a {
          display: block;
          color: #1a1a1a;
          text-decoration: none;
          padding: .5em .25em .5em 1.25em;
          font-size: .9735em; }
        div#nav-medium ul li.level_2.active > a, div#nav-medium ul li.level_2 > a:hover, div#nav-medium ul li.level_2 > a:focus, div#nav-medium ul li.level_2.active.parent > a:hover, div#nav-medium ul li.level_2.active.parent > a:focus {
          text-decoration: underline;
          font-weight: 700;
          color: #00723f; }
        div#nav-medium ul li.level_2.active.parent > a {
          text-decoration: none; }
        div#nav-medium ul li.level_3 > a {
          display: block;
          font-size: .875em;
          color: #1a1a1a;
          text-decoration: none;
          padding: 0.5em 0.25em 0.5em 2.5em; }
        div#nav-medium ul li.level_3.active a, div#nav-medium ul li.level_3 > a:hover, div#nav-medium ul li.level_3 > a:focus {
          color: #00723f;
          font-weight: 700;
          text-decoration: underline; } }

@media only screen {
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3f474d;
    color: #fff; }

  html.no-svg a.msu-wordmark-link.white {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/aa50b12a-62fc-408b-b114-aaa0eed5fbc2/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }
  html.no-svg a.msu-wordmark-link.green {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/83937a39-c132-42bf-8bd4-b0ed823ae133/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }
  html.no-svg a.msu-wordmark-link.black {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/00b70595-769a-4adc-9355-26e206dda4ed/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }

  .msu-wordmark-icon {
    max-height: 3.9375em;
    width: 100%; }

  #msu-wordmark-icon path,
  #msu-wordmark-icon rect {
    fill: white;
    color: white; }

  footer ul {
    margin: 0;
    padding: 0; }

  footer li {
    display: inline-block;
    border-left: 1px #fff dotted;
    padding: 0 .25em 0 .5em; }

  footer li:first-child {
    border-left: none; }

  footer li a {
    text-decoration: none;
    color: #fff; }

  footer li a:hover,
  footer li a:focus {
    text-decoration: underline; }

  #standard-footer-site-links {
    font-size: .8125em;
    border-bottom: 1px dotted #fff;
    margin-bottom: .65em;
    padding-bottom: .65em; }

  #standard-footer-MSU-info {
    font-size: .625em; }

  #standard-footer-MSU-info .spartans-will {
    text-transform: uppercase;
    font-weight: 700; }

  p.timestamp {
    font-size: .8125em; } }
@media only screen and (min-width: 40.063em) {
  div.footer-text.medium-9.columns {
    float: right !important; }

  footer {
    text-align: left; }

  p.timestamp {
    float: right; } }
  @media only screen and (min-width: 40.063em) and (min-width: 58.125em) {
    p.timestamp {
      margin-top: -1em; } }

@media only screen {
  p#nav-button {
    margin: 0; }
    p#nav-button a .menu-icon {
      height: 3.625em;
      width: 3.625em;
      position: absolute;
      top: 0;
      right: 0; }

  html.no-svg p#nav-button a {
    background: url("/images/menu.png") no-repeat 0 0 transparent;
    background-size: 100% auto;
    display: block;
    height: 3.625em;
    overflow: hidden;
    position: absolute;
    right: -0.9375em;
    text-indent: 9999em;
    top: -0.5em;
    width: 4em; }
  html.no-svg nav#mobile-nav p.close {
    text-align: right;
    text-transform: uppercase; }
  html.no-svg nav#mobile-nav p.close a {
    background-size: 1.25em 1.25em;
    padding-left: 1.875em;
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/dad36cfa-0cc3-4993-8a37-4c45ebbb24b6/fileAsset?byInode=true") no-repeat scroll left center transparent; }

  nav#mobile-nav p.close {
    margin: 0; }

  nav#mobile-nav p.close a {
    display: block;
    overflow: hidden;
    margin: 0;
    text-align: right; }
    nav#mobile-nav p.close a .close-icon {
      height: 1em;
      width: 1em; }

  #close-icon path {
    fill: #fff;
    color: #fff; }

  nav#mobile-nav {
    width: 0;
    /* collapsed */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #E08D8E;
    z-index: 10;
    transition: width 0.3s ease; }

  nav#mobile-nav .title-mobile {
    font-size: 1.6em;
    line-height: 1;
    font-weight: bold;
    border-top: 4px double #fff;
    border-bottom: 1px solid #fff;
    padding: .75em .9375em;
    margin: .5em -.9375em 1em; }

  nav#mobile-nav a {
    text-decoration: none;
    color: #fff; }

  nav#mobile-nav a:hover,
  nav#mobile-nav a:focus {
    text-decoration: underline; }

  nav#mobile-nav {
    background-color: #282829;
    color: #fff; }

  nav#mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  nav#mobile-nav ul#nav-menu-mobile {
    margin: 1em -.9375em; }

  nav#mobile-nav li {
    border-top: .063em solid #fff; }

  nav#mobile-nav li:first-child {
    border-top: none; }

  nav#mobile-nav li a {
    display: block;
    padding: 1em .9375em 1em .5em;
    margin: 0;
    text-decoration: none; }

  nav#mobile-nav li.parent > a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/025d4a81-9d71-441d-8475-0d4427cf8338/fileAsset?byInode=true") right center no-repeat;
    background-size: .75em .75em; }

  nav#mobile-nav li.parent ul {
    display: none; }

  nav#mobile-nav li.active.parent > ul {
    display: block; }

  nav#mobile-nav li.active.parent > a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/456f6fec-49cf-40cc-88de-d491270197b9/fileAsset?byInode=true") right center no-repeat;
    background-size: .75em .75em; }

  nav#mobile-nav li.active > a,
  nav#mobile-nav li a:focus,
  nav#mobile-nav li a:hover {
    text-decoration: underline; }

  nav#mobile-nav li.active.parent > a {
    text-decoration: none; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black; }

  nav#mobile-nav li.level_1:first-child {
    border-top: 1px solid #fff; }

  nav#mobile-nav li.level_1 a {
    padding-left: 1em;
    margin-right: .9375em; }

  nav#mobile-nav li.level_2 {
    background-color: #404041;
    border-top: 1px dotted #fff; }

  nav#mobile-nav li.level_2:first-child {
    border-top: none; }

  nav#mobile-nav li.level_2 a {
    border-left: 6px solid #6d6e70; }

  nav#mobile-nav li.level_3 {
    border-top: 1px dotted #000;
    background-color: #e6e7e8; }

  nav#mobile-nav li.level_3:first-child {
    border-top: none; }

  nav#mobile-nav li.level_3 a {
    color: #000;
    border-left: 6px solid #a7a9ab;
    text-decoration: none;
    background-size: .75em .75em; }

  nav#mobile-nav li.level_3 a:hover,
  nav#mobile-nav li.level_3 a:focus,
  nav#mobile-nav li.level_3.active a {
    text-decoration: underline; }

  nav#mobile-nav:target {
    width: 15em;
    padding: 1em;
    overflow-y: visible;
    z-index: 500; }

  nav#mobile-nav form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 12px;
    width: 13em;
    overflow: hidden; }

  nav#mobile-nav form input[type=text] {
    border: none;
    width: 10.5em;
    padding-left: .25em;
    margin-top: .125em;
    color: #000; }

  nav#mobile-nav form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/1ed718dc-d1a8-4133-b025-842c39797a3e/fileAsset?byInode=true") no-repeat scroll center center white;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    float: right;
    height: 28px;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2em; }

  html.no-svg nav#mobile-nav form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/0e7e7767-56db-459b-ba1a-097a8e2ab74c/fileAsset?byInode=true") no-repeat scroll center center white; }

  nav#mobile-nav:target + #wrap {
    position: fixed;
    left: -15em;
    overflow-x: hidden;
    overflow-y: visible; }

  nav#mobile-nav:target ~ a#nav-button.nav-button {
    position: absolute;
    top: -500em !important; }

  nav#mobile-nav:target + #dark-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.7); }

  nav#mobile-nav:target + #dark-cover + #outer-wrap {
    overflow: hidden; } }
@media only screen and (min-width: 64.063em) {
  p#nav-button,
  #dark-cover,
  nav#mobile-nav,
  ul#mobile-nav {
    display: none; } }
svg {
  margin: 0; }

@media only screen {
  h2.landmark {
    position: absolute;
    top: -3333em;
    left: -3333em; }

  body {
    color: #1a1a1a;
    line-height: 1.3;
    background-color: #3f474d; }

  #outer-wrap {
    width: 100%;
    height: 100%;
    float: left; }

  #inner-wrap {
    background-color: #fff; } }
@media only screen and (min-width: 64.063em) {
  .test {
    background: url("/includes/nav-line.png") repeat-y 22.5923% 0; } }

@media only screen {
  article#content h1 {
    color: #005e38;
    font-size: 1.5em;
    font-weight: 900; }
  article#content h2 {
    font: 1.125em 900;
    line-height: 1.1875;
    color: #00723f; } }
  @media only screen and (min-width: 64.063em) {
    article#content h2 {
      font-size: 1.3125em; } }
@media only screen {
    article#content h2.bar {
      background-color: #00723f;
      color: #fff;
      margin: 0 -.9375em;
      padding: .25em .5em .25em 1em; } }
    @media only screen and (min-width: 64.063em) {
      article#content h2.bar {
        padding: .25em .5em;
        margin: 0; } }
@media only screen {
    article#content h2 a {
      text-decoration: none; }
    article#content h2 a:focus,
    article#content h2 a:hover {
      text-decoration: underline; }
  article#content h3 {
    font: 1em 800;
    color: #008540; } }
  @media only screen and (min-width: 64.063em) {
    article#content h3 {
      font-size: 1.125em; } }
@media only screen {
  article#content h4 {
    font: .875em 700;
    color: #00723f; } }
  @media only screen and (min-width: 64.063em) {
    article#content h4 {
      font-size: 1em; } }
@media only screen {
  article#content h5 {
    font: .75em 900;
    color: #005e38; } }
  @media only screen and (min-width: 64.063em) {
    article#content h5 {
      font-size: .875em; } }
@media only screen {
  article#content h6 {
    font: .6875em 900;
    color: #000; } }
  @media only screen and (min-width: 64.063em) {
    article#content h6 {
      font: .8125em; } }
@media only screen {
  article#content a {
    color: #18453b; }
  article#content a:hover,
  article#content a:focus {
    text-decoration: none; }
  article#content p {
    margin: 1em 0;
    line-height: 1.4; }
    article#content p.date {
      margin: .25em 0 -.75em 0;
      font-size: .625em;
      font-weight: 700; } }
    @media only screen and (min-width: 64.063em) {
      article#content p.date {
        font-size: .75em; } }
@media only screen {
  article#content table {
    margin: 1em 0; }
  article#content li {
    margin: .5em 0;
    line-height: 1.4; }
  article#content blockquote {
    margin: 1em;
    line-height: 1.4;
    border-left: 0.5em #008540 solid;
    padding-left: 1em; }
  article#content ul.resources {
    padding: 0;
    list-style: none; }
    article#content ul.resources li.resource {
      overflow: hidden;
      padding-left: 2em;
      min-height: 3em; } }
    @media only screen and (min-width: 64.063em) {
      article#content ul.resources li.resource {
        padding-left: 2.5em; } }
@media only screen {
      article#content ul.resources li.resource svg {
        float: left;
        margin: .25em .625em 0 -2em; } }
      @media only screen and (min-width: 64.063em) {
        article#content ul.resources li.resource svg {
          padding-left: -2.5em; } }
@media only screen {
        article#content ul.resources li.resource svg.document {
          width: 1.25em;
          height: 1.5625em; }
        article#content ul.resources li.resource svg.video {
          width: 1.5625em;
          height: 1.3125em; }
        article#content ul.resources li.resource svg.presentation {
          width: 1.5625em;
          height: 1.25em; }
  article#content ul.paginate,
  article#content ul.pagination {
    padding: 0;
    margin: 0;
    list-style: 0;
    text-align: center; }
    article#content ul.paginate li,
    article#content ul.pagination li {
      display: inline-block;
      padding: .5em 1em; }
      article#content ul.paginate li.active a,
      article#content ul.pagination li.active a {
        color: #000;
        text-decoration: none; }
    article#content ul.paginate li:first-child,
    article#content ul.pagination li:first-child {
      padding-left: 0; }
    article#content ul.paginate li:last-child,
    article#content ul.pagination li:last-child {
      padding-right: 0; } }
@media print {
  #mobile-nav,
  .top-links,
  #nav-button,
  #search-medium,
  #nav-wrap,
  .banner-home,
  .featured-home,
  #social,
  #standard-footer-site-links {
    display: none; }

  a {
    color: #000; }

  ul.products {
    list-style: none; }

  ul.products li {
    overflow: auto; }

  ul.products img {
    float: left;
    margin: 0 .5em .5em 0; }

  footer {
    text-align: center; }

  footer ul {
    list-style: none;
    overflow: auto;
    margin-bottom: 1em; }

  footer li {
    float: left;
    margin-left: 1em; }

  footer li:first-child {
    margin-left: 0; } }
