/*
// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
*/
@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
@import "D:\anr_bar\scss\styles"; 
@import "mixins";
@import "variables";
@import "header";
@import "nav-medium";
@import "footer";
@import "mobile-nav";

svg{
    margin: 0;
}
@media only screen {

    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color: $dk-gray;
        line-height: 1.3;
        background-color:#3f474d;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#fff;
    }
    .test{
        @media only screen and (min-width:64.063em){
            background:url('/includes/nav-line.png') repeat-y 22.59229534510433% 0;
        }
    }
    article#content{
        h1{
            color:$dk-green;
            font-size:1.5em;
            font-weight:900;
        }
        h2{
            font:1.125em 900;
            line-height: 1.1875;
            color:$green;
            @media only screen and (min-width:64.063em){
                font-size:1.3125em;
            }
            &.bar{
                background-color:$green;
                color:#fff;
                margin:0 -.9375em;
                padding:.25em .5em .25em 1em;
                @media only screen and (min-width:64.063em){
                    padding:.25em .5em;
                    margin:0;
                }
            }
            a{
                text-decoration: none;
            }
            a:focus,
            a:hover{
                text-decoration: underline;
            }
        }
        h3 {
            font:1em 800;
            color:$lt-green;
            @media only screen and (min-width:64.063em){
                font-size:1.125em;
            }
        }
        h4 { 
            font: .875em 700;
            color:$green;
            @media only screen and (min-width:64.063em){
                font-size:1em;
            }
        }
        h5 {
            font:.75em 900;
            color:$dk-green;
            @media only screen and (min-width:64.063em){
                font-size:.875em;
            }
        } 
        h6{
            font:.6875em 900;
            color:#000;
            @media only screen and (min-width:64.063em){
                font:.8125em;
            }
        }
        a{
            color: #18453b;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
            &.date{
                margin:.25em 0 -.75em 0;
                font-size:.625em;
                font-weight:700;
                @media only screen and (min-width:64.063em){
                    font-size:.75em;
                }
            }
        }
        table{
            margin: 1em 0;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
            border-left:.5em $lt-green solid;
            padding-left:1em;
        }
        
        ul.resources{
            padding: 0;
            list-style: none;
            li.resource{
                overflow:hidden;
                padding-left:2em;
                min-height:3em;
                @media only screen and (min-width:64.063em){
                    padding-left:2.5em;
                }
                svg{
                    float:left;
                    margin:.25em .625em 0 -2em;
                    @media only screen and (min-width:64.063em){
                        padding-left:-2.5em;
                    }
                    &.document{
                        width:1.25em;
                        height:1.5625em;
                    }
                    &.video{
                        width:1.5625em;
                        height:1.3125em;
                    }
                    &.presentation{
                        width:1.5625em;
                        height:1.25em;
                    }
                }
            }           
        }
        ul.paginate,
        ul.pagination{
            padding: 0;
            margin: 0;
            list-style: 0;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
                a{

                }
                &.active{
                    a{
                        color:#000;
                        text-decoration:none;
                    }
                }
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}
@import "print";